.container {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px;
}

.btn {
padding: 4px;
background-color: #fff;
    color: rgb(68, 133, 255);
    border-radius: 5px;
    border: none;
    width: 140px;
    height: 45px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
}

.btn:hover {
    background-color: rgb(68, 133, 255);
    color: #fff;
    border: 2px solid #fff;
}

.form {
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.loginTitle {
    margin-bottom: 24px;
    font-size: 36px;
}

.input {
        background-color: #fff;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
            height: 35px;
            border-radius: 5px;
            max-width: 420px;
            outline: none;
            margin-top: 8px;
            margin-bottom: 8px;
}

